body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media (min-width:992px) {
    .desktop-only {
        display:block !important;
    }
    .mobile-only {
      display:none !important;
  }
  .mhset{
    max-height:300px;
  }
}
 

@media (max-width: 991px) {
    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }
    .topMobile{
      margin-top:10%;
    }
}

.centerMobile {
  display: block;
  margin: 0 auto;
}
.minny{
  min-width:100%!important
}
.bThick{
  width: 100%px;
  height: 10px;
  background-color: #43B02A;
  position: relative;
}

.bg-gray{
  background-color: #DDDDDD
}
.smallLogo{
  height:30px
}

.img-wrapper {
  position: relative;
 }

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}
.bg-black{
  background-color:black
}
.maxxy{
  height: 20%!important
}
.smallRight{
  margin-right: -100px;
}
